.title {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.banner {
  background-image: url("../assets/home/background.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  max-width: none;
  margin: auto;
  background-size: cover;
  position: relative;
  background-position: fixed;
  background-position: center, center;
  color: #fff;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.credits {
  text-align: center;
  vertical-align: -500px;
}

.content {
  text-align: center;
}

.media {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ul {
  list-style-position: inside;
}

.mediabutton:hover {
  animation: scale 0.5s;
}

@keyframes scale {
  50% {
    transform: scale(1.5);
  }
}

.footerspacer {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

footer {
  text-align: center;
  align-items: center;
  margin: auto;
  align-content: center;
  color: #fff;
  background-color: teal;
  padding-top: 3rem;
  padding-bottom: 7rem;
}
footer btn:hover {
  opacity: 75%;
}
